#services {
  color: #fff;

  .services {
    display: flex;

    > div {
      flex: 1;

      .img {
        width: 100%;
        min-height: 183px;
        text-align: center;
      }
    }
  }

  .technologies {

  }

  .work > div {
    display: flex;

    article {
      flex: 1;
      max-width: 300px;

      img {
        width: 100%;
      }
    }
  }
}
