#services {
  padding: 70px 15px;
  color: #fff;

  @media (min-width: 1000px) {
    padding: 70px 150px;
  }

  .title {
    margin-bottom: 50px;
  }

  .services {
    @include displayFlex();

    > div {
      min-width: 100%;
      @include flex(1 1 auto);
      margin-bottom: 25px;
      padding: 0 10px;
      box-sizing: border-box;
      text-align: center;

      @media (min-width: 750px) {
        min-width: 0;
        text-align: left;
      }

      .img {
        width: 100%;
        min-height: 183px;
        text-align: center;

        img {
          max-width: 100%;
        }
      }

      > * {
        max-width: 450px;
        margin-right: auto;
        margin-left: auto;
      }

      > p {
        font-weight: 100;
      }
    }
  }

  .technologies {

  }

  .work {
    .subtitle {
      margin-top: 50px;
    }

    > div {
      @include displayFlex();
      justify-content: center;

      article {
        max-width: 150px;
        flex: 1;
        margin: 0 15px;
        position: relative;
        cursor: pointer;

        @media (min-width: 750px) {
          margin: 0 30px;
        }

        &:hover {
          .cover {
            opacity: .85;
          }
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        img {
          width: 100%;
        }

        .cover {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          text-align: center;
          opacity: 0;
          background-color: #1A1A1A;
          @include transition(opacity 0.3s ease-in-out);
        }

        h5 {
          margin: 0;
          position: relative;
          top: 50%;
          font-weight: 100;
          font-size: 3.5vw;
          transform: translateY(-50%);

          @media (min-width: 600px) {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

.parallax-mirror:nth-of-type(2) img {
  background-image: url('/src/index/pattern.svg');
}
