#golang {
  padding: 70px 15px;
  background-color: #fff;

  @media (min-width: 850px) {
    padding: 70px 150px;
  }

  .row {
    width: 100%;
    display: flex;

    .column {
      flex: 1;
      text-align: center;

      @media (min-width: 750px) {
        &:nth-child(1) {
          text-align: right;
        }

        &:nth-child(2) {
          text-align: left;
        }
      }

      &.img {
        display: none;

        @media (min-width: 750px) {
          display: block;
        }
      }
    }

    &.first {
      @media (min-width: 750px) {
        img {
          padding: 0 0 0 50px;
        }
      }
    }

    &.second {
      @media (min-width: 750px) {
        img {
          padding: 0 50px 0 0;
        }
      }
    }
  }

  .hidden {
    display: block;

    @media (min-width: 750px) {
      display: none;
    }
  }

  img {
    max-width: 100%;
    box-sizing: border-box;
  }

  p {
    line-height: 25px;
  }
}
