#golang {
  background-color: #fff;

  .row {
    width: 100%;
    display: flex;

    .column {
      flex: 1;

      &:first-child {
        text-align: right;
      }

      &.hide {
        display: none;

        @media (min-width: 750px) {
          display: block;
        }
      }
    }

    &:nth-of-type(1) {
      img {
        margin: 0 0 0 50px;
      }
    }

    &:nth-of-type(2) {
      img {
        margin: 0 50px 0 0;
      }
    }
  }

  p {
    line-height: 25px;
  }
}
