#ourclients {
  padding: 70px 15px;
  display: inline-block;
  background-color: #fff;
  text-align: center;

  > .img {
    margin: 0 20px;
    display: inline-block;

    > img {
      max-width: 100px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
