#logo {
  height: 100vh;
  padding: 0;
  text-align: center;

  @media (min-width: 1000px) {
    padding: 70px 150px;
  }

  img {
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    @media (min-width: 1000px) {
      max-width: initial;
    }
  }
}

.parallax-mirror:nth-of-type(3) img {
  background-image: url('/src/index/pattern.svg');
}