#logo {
  text-align: center;
  height: 100vh;
  position: relative;
  background-image: url('/src/logo/pattern.svg');

  img {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }

}