@import "mixins";

@import "header/header";
@import "logo/logo";
@import "golang/golang";
@import "services/services";
@import "ourclients/ourclients";
@import "process/process";
@import "team/team";
@import "contact/contact";
@import "footer/footer";

@import "portfolio/portfolio";
@import "portfolio/logitbot/logitbot";
@import "portfolio/pyramis/pyramis";

body {
  min-width: 300px;
  min-height: 65px;
  margin: 0;
  background-image: url('/src/index/pattern.svg');
  font-family: 'Muli', 'Arial', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  will-change: transform;
  @include will-change-legacy;
}

.title {
  width: 100%;
  margin: 0 0 25px 0;
  text-align: center;
  font-family: Poiret One, 'cursive';
  font-weight: 100;
  font-size: 3.5rem;

  @media (min-width: 460px) {
    font-size: 4.5rem;
  }
}

.subtitle {
  @extend .title;
  font-size: 2.5rem;
}
