@import "header/header";
@import "logo/logo";
@import "golang/golang";
@import "services/services";
@import "process/process";
@import "team/team";
@import "contact/contact";

body {
  width: 100vw;
  min-height: 50px;
  margin: 0;
  font-family: 'Poiret One', 'Arial', sans-serif;
}
