footer {
  width: 100%;
  padding: 75px 20px;
  box-sizing: border-box;
  color: #E0DEDE;
  background: #1A1A1A;

  will-change: transform;
  @include will-change-legacy;

  .container {
    @include displayFlex();
    flex-wrap: wrap;
    justify-content: center;

    > div {
      width: 240px;
    }
  }

  h4 {
    padding-left: 25px;
    margin: 0;
    color: white;
  }

  ul {
    list-style: none;
    padding-left: 25px;
    font-size: .9em;
  }

  li:not(.blank) {
    span {
      cursor: pointer;
      @include transition(color .2s);

      &:hover {
        color: #FFF;
      }
    }
  }

  .license {
    margin-top: 50px;
    text-align: center;
    font-size: .8em;
    font-weight: 100;
  }
}
